#lista-pizza {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid black;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: fit-content;
}

.image-box img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}